<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Racing+Sans+One&display=swap"
        rel="stylesheet">
    <title>JobsCalc</title>
</head>

<body>

    <main>
        <section class="container">     
            <h1><img src="/images/logo.svg" alt="Logo" /></h1>
            <p>  <%=Mensagem%> </p>
            <div class="signup">
                <form  action="/login" method="POST"> 
                    <label label="login">LOGIN: </label>
                    <input name="login" type="text" label="login" placeholder="E-mail" required> </input>
                    <label  label="password">PASSWORD:</label>
                    <input name="password"
                    label="password" 
                    type="password"
                    placeholder="Digite Senha" required> </input>
                    <button>Logar</button>
                </form>

        </div>

        
        </section>

    </main>

</body>

</html>