<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>JobsCalc</title>

  <link rel="stylesheet" href="/styles/partials/signup.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/modal.css" />
  
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <script src="scripts/index.js" defer type="module"></script>
</head>

<body id="page-index">
  <header class="page-header">
    <div class="container">
      <section id="top" class="animate-up">
        <h2 class="sr-only">Homepage</h2>
        <img id="logo" src="/images/logo.svg" alt="Logo" />
      </section>
      <div class="separator"></div>
    </div>
  </header>

  <div class="container">
    <main class="animate-up delay-2"></main>
      <h1 class="sr-only">Trabalhos</h1>

      <!--Alterando estrutura para um repitição com forEach Aula 2 Begin -->
      <div class="cards">
        

          <div class="card">
            <div class="id column">
            
            </div>
            <div class="name column">
             
            </div>
            <div class="deadline column">
              <span>Prazo</span>
              <p>
      
              </p>
            </div>
            <div class="amount column">
              <span>Valor</span>
             
              </p>
            </div>
            <div class="status badge column">
              
            </div>
          
          </div>

            <!-- end card -->
            <!--Alterando estrutura para um repitição com forEach Aula 2 End -->

      </div>
      <!-- end cards -->
    </main>
  </div>
</body>

</html>